#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
   /* margin-top: 60px; */
    background-color: whitesmoke;
  
  }

  .navbar {
    background-color: black;
    height:50px;
    width:auto;
  }

  * {
    box-sizing: border-box;
  }
  .column {
    float: left;
    padding: 20px;
    height: 400px; /* Should be removed. Only for demonstration */
  }
  .left {
    width: 25%;
    border:1px solid lightgray;
  }
  
  .right {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img {
      width:80%;
      height:100%;
  }
  .product-info {
      float:left;
      text-align: left;
  }
  .colorbox {
      height:30px;
      width:50px;
      border:1px solid lightgray;
      margin: 5px;
      display: inline-block;
  }
  